@import "ol/ol.css";
@import "ol-ext/dist/ol-ext.css";

html,
body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.ol-control button {
    height: 2em;
    width: 2em;
}

.upload-btn {
    top: 0.5em;
    right: calc(50% + 0.25em);
}

.print-btn {
    top: 0.5em;
    left: calc(50% + 0.25em);
}
